.navbar-inverse{
	background-color:$lightGreen;
	border-bottom: none;
	height: 65px;
	display: block;
	
	img{
		margin: -10px 0px 0px 0px;
	}
	.navbar-brand{
	font-family: $mainFont;
	font-size: 30px;
	a:link{
		color:$darkYellow;
		}
	}
	hr{
		border: none;
		height: 6px;
		background-color: $lightGreen;
		
	}

	
}


